/*** Global Properties ************************/
html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Aileron', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: rgb(115,115,128);
	margin: 0 8px;
}


::selection {
 	background: rgba(0,0,144,0.50);
	color: white;
}
::-moz-selection {
 	background: rgba(0,0,144,0.50);
	color: white;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
	box-shadow: inset 0 -2px 0 -1px rgba(0,0,144,0.50);

	transition: 
		background 0.1s 0s ease-in-out,
		box-shadow 0.1s 0s ease-in-out,
		color      0.1s 0s ease-in-out;
	-webkit-transition:
		background 0.1s 0s ease-in-out,
		box-shadow 0.1s 0s ease-in-out,
		color      0.1s 0s ease-in-out;
}
a.nav {
	color: rgb(0,0,144);
	box-shadow: none;
}
em {
	font-style: normal;
	font-weight: 600;
}
@media (hover: hover) {
	a:hover{
		box-shadow: inset 0 -22px 0 -1px rgba(0,0,144,0.50);
		color: white;
	}
	a.nav:hover,
	.project-modal-close:hover {
		box-shadow: none;
		background: rgba(0,0,144,0.50);
	}
}

a.active {
	box-shadow: inset 0 -22px 0 -1px rgba(0,0,144,0.75);
	color: white;
}
a.nav.active { box-shadow: none; background: rgba(0,0,144,0.75); }
a:active {
	box-shadow: inset 0 -22px 0 -1px rgba(0,0,144,0.25);
	color: white;
}
a.nav:active, .project-modal-close:active 
	{ box-shadow: none; background: rgba(0,0,144,0.25); }

p {
	font-weight: 300;
}

.nowrap { white-space: nowrap; }

.noselect, .nav, li.collapsible label::before  {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noscroll {
	overflow: hidden;
}

/*** Superstructure ***************************/
.paper{
	background: white;
	min-width: 270px;
	max-width: 800px;

	padding: 64px 10%;
	padding-top: 56px;

	margin: 0 auto;
	margin-bottom: 8px;
	
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

/*** Header ***********************************/
.header {
	position: -webkit-sticky;
    position: sticky;
    top: -52px;

	background: white;

	margin: 0 auto;
	border: 0px solid gray;
	border-bottom-width: 1px;

	z-index: 10;
}
.header-name {
	font-weight: 800;
	font-size: 225%;

	height: 44px;

	padding: 8px;

	border: 0px solid gray;
	border-bottom-width: 1px;
}

/*** Header: Navbar ***************************/
.header-subtitle {
	min-height: 44px;

	margin: 0 0;

	overflow-x: auto;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	white-space: nowrap;
}
.header-subtitle::-webkit-scrollbar { 
    display: none; 
}
.nav, .header-subtitle-fade-in, .header-subtitle-fade-out{
	display: inline-block;
	text-align: center;

	line-height: 28px;

	font-size: 100%;
	font-weight: 400;
	padding: 8px 12px;	
}
.header-subtitle> .nav:last-child {
	margin: 0;
}
.header-subtitle-fade-in {
	position: -webkit-sticky;
    position: sticky;
	width: 6px;
	left: 0px;
	background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));

	padding: 8px 8px;	
}
.header-subtitle-fade-out {
	position: -webkit-sticky;
    position: sticky;
	width: 10px;
	right: 0px;
	background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));

	padding: 8px 8px;	
}

/*** Sections *********************************/
.section-box {
	padding: 16px 4px;

	height: auto;

	line-height: 1.25em;
}
.section {
	display: flex;
	margin: 0 0 20px 0;

	padding-top: 66px;
	margin-top: -66px;
}

.section-title {
	font-weight: bold;
	font-style: italic;

	margin-bottom: 0.25em;
	padding-right: 16px;

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(20% - 16px);
}

.section-contents {
	flex: 1;
}
.section-entry {
	margin: 0 0 1em 0;
}
.section-entry-header { 
	display: flex;
	justify-content: space-between; 
}

.section-entry-header-contents {}
.section-entry-header-contents b {}
.section-entry-header-info {
	margin-left: 16px;
	text-align: right;
	font-weight: 400;
	font-style: italic;
}

.section-entry-points {
	-webkit-margin-before: 0.25em;
	-webkit-margin-after: 0em;

	padding-right: 64px;
	-webkit-padding-start: 32px;
	
	font-weight: 300;
}
.section-entry-points.noindent {-webkit-padding-start: 0px;}
.section-entry-points li {
	margin-bottom: 0.33em;
	list-style-type: none;
}

.section-entry-subpoints {}

/*** Expandable Sections **********************/
/* https://codepen.io/raubaca/pen/PZzpVe?editors=1100 */
	
/* unchecked */
li.collapsible input ~ p { 
	position: relative;
	top: -20px;
	display: block;
	transition: 
		max-height    0.5s   0s    ease-in-out, 
		margin-bottom 0.25s  0.25s ease-in-out,
		opacity       0.25s  0s    ease-in-out;

	opacity: 0; 
	max-height: 0em;

	overflow: hidden;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	margin-bottom: 0em;
}
li.collapsible input ~ div.keywords {
	position: relative;
	top: -20px;
	transition: 
		opacity       0.25s 0.25s ease-in-out, 
		margin-bottom 0.25s 0.25s ease-in-out, 
		max-height    0.25s 0.25s ease-in-out;

	opacity: 1; 
	max-height: 5rem; 
	margin-bottom: 0.5em;
}

/* checked */
li.collapsible input:checked ~ p { 
	opacity: 1; 
	max-height: 25em;

	margin-bottom: 1em;

	transition: 
		max-height    0.5s 0s    ease-in-out,
		margin-bottom 0.5s 0s    ease-in-out,
		opacity       0.5s 0.25s ease-in-out;
}
li.collapsible input:checked ~ div.keywords { 
	transition: 
		opacity       0.25s 0s ease-in-out, 
		margin-bottom 0.25s 0s ease-in-out, 
		max-height    0.25s 0s ease-in-out;

	opacity: 0; 
	max-height: 0rem; 
	margin-bottom: 0em;
}


/* Icon */
li.collapsible input {
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
}
li.collapsible label {
	position: relative;
	display: block;

	left: -32px;
	width: 22px;

	cursor: pointer;
}

li.collapsible label:before {
	display: block;
	content: "+";

	width: 22px;
	height: 22px;

	line-height: 22px;

	text-align: center;
	font-size: 110%;
	font-weight: 900;
	color: rgb(0,0,144);

	transition: 
		background 0.1s 0s ease-in-out,
		color      0.1s 0s ease-in-out;
} 

li.collapsible input:checked ~ label:before { content: "-"; }

/* we use :after to expand the small button to a touchscreen-friendly 44x44px*/
li.collapsible label:after {
	content: "";

	padding: 22px;
	position: absolute;
	left: -11px;
	top:  -11px;

}

@media (hover: hover) { 
	li.collapsible label:hover:before { background: rgba(0,0,144,0.50); color: white; } 
}
li.collapsible label:active:before {  background: rgba(0,0,144,0.75); color: white; }


/*** Interactive Grids ************************/
.section-contents-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grid-item {
	width: 192px;
	height: 192px;
	position: relative;
	padding: 4px;
	margin: 4px;

	background: rgba(0,0,144,0.25);

	transition:
		background 0.1s 0s ease-in-out;
}
.grid-item:hover{
	background: rgba(0,0,144,0.50);
}

.grid-item:active {
	background: rgba(0,0,144,0.75);
}

.grid-item-title {
	position: absolute;
	left: 4px; right: 4px; top: 4px;
	height: 3em;
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

	padding: 0 4px;

	opacity: 1;

	text-align: center;
	font-size: 100%;

	color: white;
 	font-weight: 600;
}

.grid-item-img {
	object-fit: cover;
	width: 100%;
	height: 100%
}

.section-contents-grid input {
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
}

.project-modal {
}
.project-modal-contents {
	background: white;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);

	position: fixed;
	max-height: calc(100% - 64px);

	left: 25%; right: 25%;

	z-index: 101;

	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.project-modal-header { 
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 40px;

	font-size: 110%;

	border: 0px solid gray;
	border-bottom-width: 1px;

	position: -webkit-sticky;
	position: sticky;
	top: 0;

	background: white;
	z-index: 102;
}
.project-modal-header b {
	padding: 10px;
	padding-left: 20px;
}
.project-modal-close {
	width: 20px;
	height: 100%;

	margin: -10px;
	margin-right: 0;
	padding: 10px;

	text-align: center;

	cursor: pointer;
	user-select: none;
}
.project-modal-body {
	-webkit-overflow-scrolling: touch;
	justify-content: center;
 	padding: 16px 32px;
}
.project-modal-image {
	display: block;
	max-width: calc(100% - 2em);
	max-height: 600px;
	margin: 1em auto 0;
}
.project-modal-image.small   { max-width: 66%; }
.project-modal-image.grid { 
	max-width: calc(49% - 2em); 
	display: inline;
	margin: 1em 1em 0;
}

.yt-lazy.javascript-active {
	cursor: pointer;
	position: relative;
	border: 4px solid rgb(180,180,222);
}
.yt-lazy > img { display: none; }
.yt-lazy.javascript-active > img { display: block; width: 100%; height: 100%;}
.yt-lazy.javascript-active:before {
	content:" \25BA";
	color: white;

	position: absolute;

	left: 50%;
	top: 50%;
}
@media (hover: hover) {
	.yt-lazy.javascript-active:hover { border-color: rgb(110,110,188); }
}
.yt-lazy.javascript-active:active { border-color: rgb(50,50,156); }

.project-modal-overlay {
	position: fixed;
	top: -10%; left: -10%;
	width: 120%;
	height: 120%;
	-webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba(0,0,0,0.32);
	z-index: 100;
}

.project-modal > .project-modal-contents {
	top: -100%;

	transition:
		top 0.5s;
}
.section-contents-grid input:checked + .project-modal > .project-modal-contents {
	top: 32px;
	transition:
		top 0.5s;
}

.project-modal-overlay {
	transform: scale(0);
	opacity: 0;
	transition:
		transform 0s 0.5s ease-in-out,
		opacity 0.3s 0s ease-in-out;
}
.section-contents-grid input:checked + .project-modal > .project-modal-overlay {
	transform: scale(1);
	opacity: 1;
	transition:
		transform 0s 0s ease-in-out,
		opacity 0.3s 0s ease-in-out;
}

#headshot {
	margin: 4px 16px 4px 0;
	width:33%;
}

/*** Media-Specific Properties ****************/
@media print {
	.header {
		position: auto;
	    top: 0px;
	}
}

@media screen and (max-width: 766px) {
	.paper {
		padding: 16px;
		padding-top: 8px;
	}
	.section {
		flex-direction: column;
	}
	.section-title  {
		flex-basis: auto;
		font-size: 128%;
	}
	.section-entry-points {
		padding-right: 16px;
		-webkit-padding-start: 16px;
	}
	li.collapsible label {
		left: -24px;
	}
	.grid-item {
		width: 128px;
		height: 128px;
	}
	.project-modal-contents {
		left: 10%; right: 10%;
	}
	.project-modal-image.grid { 
		display: block;
		max-width: calc(100% - 2em);
		max-height: 300px;
		margin: 1em auto 0;
	}
}

@media screen and (max-width: 500px) {
	#headshot {
		margin: 0 20% 16px;
		width: 60%;
	}
	.grid-item {
		width: 112px;
		height: 112px;
	}
	.grid-item-title {
		font-size: 90%;
	}
	.project-modal-contents {
		left: 12px; right: 12px;
		min-width: 296px;
	}
	.project-modal-body {
		padding: 16px 16px;
	}
	}