/*** Global Properties ************************/
html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Aileron', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: rgb(115,115,128);
	margin: 0 8px;
}

::selection {
 	background: rgba(0,0,144,0.50);
	color: white;
}
::-moz-selection {
 	background: rgba(0,0,144,0.50);
	color: white;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
	box-shadow: inset 0 -2px 0 -1px rgba(0,0,144,0.50);

	transition: 
		background 0.1s 0s ease-in-out,
		box-shadow 0.1s 0s ease-in-out,
		color      0.1s 0s ease-in-out;
	-webkit-transition:
		background 0.1s 0s ease-in-out,
		box-shadow 0.1s 0s ease-in-out,
		color      0.1s 0s ease-in-out;
}
a.nav {
	color: rgb(0,0,144);
	box-shadow: none;
}
em {
	font-style: normal;
	font-weight: 600;
}
@media (hover: hover) {
	a:hover{
		box-shadow: inset 0 -22px 0 -1px rgba(0,0,144,0.50);
		color: white;
	}
	a.nav:hover{
		box-shadow: none;
		background: rgba(0,0,144,0.50);
	}
}

a.active {
	box-shadow: inset 0 -22px 0 -1px rgba(0,0,144,0.75);
	color: white;
}
a.nav.active { box-shadow: none; background: rgba(0,0,144,0.75); }
a:active {
	box-shadow: inset 0 -22px 0 -1px rgba(0,0,144,0.25);
	color: white;
}
a.nav:active { box-shadow: none; background: rgba(0,0,144,0.25); }

p {
	font-weight: 300;
}

.nowrap { white-space: nowrap; }

.noselect, .nav, li.collapsible label::before  {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*** Superstructure ***************************/
.paper{
	background: white;
	min-width: 270px;
	max-width: 800px;

	padding: 64px 10%;
	padding-top: 56px;

	margin: 0 auto;
	margin-bottom: 8px;
	
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

/*** Header ***********************************/
.header {
	position: -webkit-sticky;
    position: sticky;
    top: -52px;

	background: white;

	margin: 0 auto;
	border: 0px solid gray;
	border-bottom-width: 1px;

	z-index: 10;
}
.header-name {
	font-weight: 800;
	font-size: 225%;

	height: 44px;

	padding: 8px;

	border: 0px solid gray;
	border-bottom-width: 1px;
}

/*** Header: Navbar ***************************/
.header-subtitle {
	min-height: 44px;

	margin: 0 0;

	overflow-x: auto;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	white-space: nowrap;
}
.header-subtitle::-webkit-scrollbar { 
    display: none; 
}
.nav, .header-subtitle-fade-in, .header-subtitle-fade-out{
	display: inline-block;
	text-align: center;

	line-height: 28px;

	font-size: 100%;
	font-weight: 400;
	padding: 8px 12px;	
}
.header-subtitle> .nav:last-child {
	margin: 0;
}
.header-subtitle-fade-in {
	position: -webkit-sticky;
    position: sticky;
	width: 6px;
	left: 0px;
	background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));

	padding: 8px 8px;	
}
.header-subtitle-fade-out {
	position: -webkit-sticky;
    position: sticky;
	width: 10px;
	right: 0px;
	background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));

	padding: 8px 8px;	
}

/*** Sections *********************************/
.section-box {
	padding: 16px 4px;

	height: auto;

	line-height: 1.25em;
}
.section {
	display: flex;
	margin: 0 0 20px 0;

	padding-top: 66px;
	margin-top: -66px;
}

.section-title {
	font-weight: bold;
	font-style: italic;

	margin-bottom: 0.25em;
	padding-right: 16px;

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(20% - 16px);
}

.section-contents {
	flex: 1;
}
.section-entry {
	margin: 0 0 1em 0;
}
.section-entry-header { 
	display: flex;
	justify-content: space-between; 
}

.section-entry-header-contents {}
.section-entry-header-contents b {}
.section-entry-header-info {
	margin-left: 16px;
	text-align: right;
	font-weight: 400;
	font-style: italic;
}

.section-entry-points {
	-webkit-margin-before: 0.25em;
	-webkit-margin-after: 0em;

	padding-right: 64px;
	-webkit-padding-start: 32px;
	
	font-weight: 300;
}
.section-entry-points.noindent {-webkit-padding-start: 0px;}
.section-entry-points li {
	margin-bottom: 0.33em;
	list-style-type: none;
}

.section-entry-subpoints {}

/*** Expandable Sections **********************/
/* https://codepen.io/raubaca/pen/PZzpVe?editors=1100 */
	
/* unchecked */
li.collapsible input ~ p { 
	position: relative;
	top: -20px;
	display: block;
	transition: 
		max-height    0.5s   0s    ease-in-out, 
		margin-bottom 0.25s  0.25s ease-in-out,
		opacity       0.25s  0s    ease-in-out;

	opacity: 0; 
	max-height: 0em;

	overflow: hidden;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	margin-bottom: 0em;
}
li.collapsible input ~ div.keywords {
	position: relative;
	top: -20px;
	transition: 
		opacity       0.25s 0.25s ease-in-out, 
		margin-bottom 0.25s 0.25s ease-in-out, 
		max-height    0.25s 0.25s ease-in-out;

	opacity: 1; 
	max-height: 5rem; 
	margin-bottom: 0.5em;
}

/* checked */
li.collapsible input:checked ~ p { 
	opacity: 1; 
	max-height: 25em;

	margin-bottom: 1em;

	transition: 
		max-height    0.5s 0s    ease-in-out,
		margin-bottom 0.5s 0s    ease-in-out,
		opacity       0.5s 0.25s ease-in-out;
}
li.collapsible input:checked ~ div.keywords { 
	transition: 
		opacity       0.25s 0s ease-in-out, 
		margin-bottom 0.25s 0s ease-in-out, 
		max-height    0.25s 0s ease-in-out;

	opacity: 0; 
	max-height: 0rem; 
	margin-bottom: 0em;
}


/* Icon */
li.collapsible input {
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
}
li.collapsible label {
	position: relative;
	display: block;

	left: -32px;
	width: 22px;

	cursor: pointer;
}

li.collapsible label:before {
	display: block;
	content: "+";

	width: 22px;
	height: 22px;

	line-height: 22px;

	text-align: center;
	font-size: 110%;
	font-weight: 900;
	color: rgb(0,0,144);

	transition: 
		background 0.1s 0s ease-in-out,
		color      0.1s 0s ease-in-out;
} 

li.collapsible input:checked ~ label:before { content: "-"; }

/* we use :after to expand the small button to a touchscreen-friendly 44x44px*/
li.collapsible label:after {
	content: "";

	padding: 22px;
	position: absolute;
	left: -11px;
	top:  -11px;

}

@media (hover: hover) { 
	li.collapsible label:hover:before { background: rgba(0,0,144,0.50); color: white; } 
}
li.collapsible label:active:before {  background: rgba(0,0,144,0.75); color: white; }


/*** Interactive Grids ************************/
.section-contents-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grid-item {
	width: 192px;
	height: 192px;
	position: relative;
	padding: 4px;
	margin: 4px;

	background: rgba(0,0,144,0.25);

	transition: /* transitions when grid item shrinks */
		background 0.1s  0s    ease-in-out,
		width      0s    0.75s ease-in-out, /* happens last */
		height     0.5s  0.25s ease-in-out; /* happens after content fade */
}
.grid-item:hover{
	background: rgba(0,0,144,0.50);
}

.grid-item:active {
	background: rgba(0,0,144,0.75);
}

.grid-item-title {
	position: absolute;
	left: 4px; right: 4px; top: 4px;
	height: 3em;
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

	padding: 0 4px;

	opacity: 1;

	text-align: center;
	font-size: 100%;

	color: white;
 	font-weight: 600;

 	transition: /* transitions when grid item shrinks */
		background 0.5s 0.25s ease-in-out, /* happens after content fade */
		opacity    0.5s 0.25s ease-in-out; /* happens after content fade */
}

.grid-item-img {
	object-fit: cover;
	width: 100%;
	height: 100%
}

.grid-item-contents {
	-webkit-overflow-scrolling: touch;

	position: absolute;
	top: 3px; bottom: 3px; left: 3px; right: 3px;
	padding: 8px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;

	z-index: 1;

	color: white;
	background: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,.5));

	opacity: 0;
	overflow-y: hidden;

	transition: /* transition when grid item shrinks */
		opacity 0.25s 0s ease-in-out; /* happens first */
}

.grid-item-contents a {
	color: rgb(192,192,255);
	font-weight: normal;
	pointer-events: none;
  	cursor: default;
}

.section-contents-grid input {
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
}

.section-contents-grid input:checked + .grid-item {
	width: 100%;
	height: 384px;

	transition: /* transition on grid item growth */
		background 0.1s  0s  ease-in-out,
		width      0.0s  0s  ease-in-out, /* happens first */
		height     0.5s  0s  ease-in-out; /* happens after width */
}

.section-contents-grid input:checked + .grid-item > .grid-item-title {
	opacity: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0));

	transition: /* transition on grid item growth */
		background 0.5s 0s ease-in-out, /* happens after width */
		opacity    0.5s 0s ease-in-out; /* happens after width */
}

.section-contents-grid input:checked + .grid-item > .grid-item-contents {
	opacity: 1;
	overflow-y: auto;
	transition: /* transition on grid item growth */
		opacity 0.25s 0.5s ease-in-out; /* happens last */
}

.section-contents-grid input:checked + .grid-item > .grid-item-contents a {
	pointer-events: initial;
  	cursor: pointer;
}


/*** Media-Specific Properties ****************/
@media print {
	.header {
		position: auto;
	    top: 0px;
	}
}

@media screen and (max-width: 766px) {
	.paper {
		padding: 16px;
		padding-top: 8px;
	}
	.section {
		flex-direction: column;
	}
	.section-title  {
		flex-basis: auto;
		font-size: 128%;
	}
	.section-entry-points {
		padding-right: 16px;
		-webkit-padding-start: 16px;
	}
	li.collapsible label {
		left: -24px;
	}
	.grid-item {
		width: 128px;
		height: 128px;
	}
	.section-contents-grid input:checked + .grid-item {
		height: 384px;
	}
}

@media screen and (max-width: 500px) {
	.grid-item {
		width: 112px;
		height: 112px;
	}
	.section-contents-grid input:checked + .grid-item {
		height: 336px;
	}
	.grid-item-title {
		font-size: 90%;
	}
	}